# ignore history files
history
eshell/
auto-save-list/
tramp

# ignore saved desktops
.emacs.desktop*

# ignore computer specific init file
specific.el

# ignore elpa archive
elpa/

# ignore temp files
*~