# ignore history files
history
eshell/
auto-save-list/
tramp

# ignore saved desktops
.emacs.desktop*

# ignore computer specific init file
specific.el

# ignore elpa archive
elpa/

session.*

# ignore temp files
*~

# ignore cache
*.cache

# ignore projectile-bookmarks
projectile-bookmarks.eld
